* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .text {
  height: 400px;
} */

body {
  background-color: rgb(243, 231, 231);
}

h1 {
  display: flex;
  justify-content: center;
}

h4 {
  display: flex;
  justify-content: center;
  color: hsl(229, 6%, 66%);
}

.backgraund {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Bulider {
  justify-content: center;
  align-content: center;
  width: 300px;
  height: 200px;
  border: 2px solid hsl(0, 0%, 98%);
  border-top: 5px solid hsl(0, 78%, 62%);
  border-radius: 6px;
  background-color: white;
}

.conteiner {
  /* border: 10px solid hsl(0, 0%, 98%); */
  width: 1300px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team {
  justify-content: center;
  align-items: center;
}

.konteiner-bulid-karma {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 50px;
  margin-bottom: 50px;
}

.karma {
  border: 2px solid hsl(0, 0%, 98%);
  border-top: 5px solid hsl(34, 97%, 64%);
  border-radius: 6px;
  background-color: white;
  width: 300px;
  height: 200px;
}

.Calculator-konteiner {
  width: 300px;
  height: 200px;
  margin-left: 50px;
  border-radius: 6px;
  background-color: white;
  border: 2px solid white;
  border-top: 5px solid hsl(212, 86%, 64%);
}

.svg-Sypervisor {
  display: flex;
  align-content: flex-end;
}

.conteiner-2 {
  width: 300px;
  height: 200px;
  border-radius: 6px;
  background-color: white;
  border: 2px solid white;
  border-top: 5px solid hsl(180, 62%, 55%);
  display: flex;
  align-content: center;
  flex-direction: column;
}

.title-1 {
  padding: 13px;
}

.p-1 {
  padding-left: 20px;
  color: gray;
}

.svg-Sypervisor {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  height: 80px;
  padding-right: 20px;
}

.title-bulide {
  padding: 13px;
}

.p-2 {
  padding-left: 20px;
  color: gray;
}

.svg-2 {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  height: 80px;
  padding-right: 20px;
}

.karma-text1 {
  padding: 13px;
}

.karma-text {
  padding-left: 15px;
  color: gray;
}

.svg-3 {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  height: 80px;
  padding-right: 20px;
}

.calculator-text {
  /* padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 8px; */
  padding: 13px;
}

.calculator-text1 {
  padding-left: 20px;
  color: gray;
}

.calculator-text1 {
  color: gray;
}

.svg-4 {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  height: 80px;
  padding-right: 20px;
}

.Technology {
  padding-bottom: 20px;
}

.delivery {
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding-top: 14px;
  color: gray;
}
